__pycache__/*
recent/*
test/*
chronic/*
*bak
DORIS_output.txt
acute
smaller_doris.py
not_used/*
david/*
*fas
doris_values.csv
both/*
*sh
forward_selection*
.vscode/*
automl.err
automl.txt
david/*
trash/*
values_*
old/*
small*
tmp*
values.csv
